@{
    ViewBag.Title = "Acerca de";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Aplicación de Practica.</p>
<p>Este sistema fué desarrollado por <a href="https://http://www.people-inmotion.com/">People-inmotion.com</a>
Como facilitador o instructor de este curso fue Irvin Corro un Developer Senior de People-inmotion    
</p>
<p>Desaroollado en Asp.net .</p>
