@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Teñikaler Smith<br />
    Panamá, Panamá Oeste, La Chorrera<br />
    <abbr title="Phone">P:</abbr>
    61162389
</address>

<address>
    <strong>Support:</strong><a href="mailto:info@tenismith.com">info@tenismith.com</a><br />
    <strong>People-Inmotion:</strong> <a href="mailto:tsmith@people-inmotion.com">tsmith@people-inmotion.com</a>
</address>